<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hnist.javafx.kqms.bg.mapper.KaoqinMapper">

<!--    void addKaoqin(Kaoqin kaoqin);-->
    <insert id="addKaoqin">
        insert into kaoqin values
        (#{date}, #{courseName}, #{section}, #{type}, #{studentName}, #{studentNo})
    </insert>

<!--    void addKaoqinByList(List<Kaoqin> list);-->
    <insert id="addKaoqinByList">
        insert into kaoqin values
        <foreach collection="list" item="item" separator=",">
            (#{item.date}, #{item.courseName}, #{item.section}, #{item.type}, #{item.studentName}, #{item.studentNo})
        </foreach>
    </insert>

<!--    void deleteKaoqin(Kaoqin kaoqin);-->
    <delete id="deleteKaoqin">
        delete from kaoqin
        where date = #{date} and section = #{section} and studentNo = #{studentNo}
    </delete>

<!--    boolean getKaoqinIfExist(Date date, byte section, String studentNo);-->
    <select id="getKaoqinIfExist" resultType="boolean">
        select COUNT(*) = 0 from kaoqin
        where date = #{date} and section = #{section} and student_no = #{studentNo}
    </select>

<!--    List<Kaoqin> getKaoqin(String courseName, String studentName);-->
    <select id="getKaoqin" resultType="Kaoqin">
        select * from kaoqin
        <where>
            <if test="courseName != null">
                course_name = #{courseName}
            </if>
            <if test="studentName != null">
                and student_name = #{studentName}
            </if>
        </where>
    </select>
</mapper>
