<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hnist.javafx.kqms.bg.mapper.StudentMapper">

<!--    void addStudent(Student student);-->
    <insert id="addStudent">
        insert into student values
        (#{no}, #{name}, #{sex}, #{age}, #{className})
    </insert>

<!--    void addStudentByList(List<Student> list);-->
    <insert id="addStudentByList">
        insert into student values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.no}, #{item.name}, #{item.sex}, #{item.age}, #{item.className}
        </foreach>
    </insert>

<!--    void deleteStudent(String no);-->
    <delete id="deleteStudent">
        delete from student
        where no = #{no}
    </delete>

<!--    void modifyStudent(Student student);-->
    <update id="modifyStudent">
        update student
        set name = #{name}, sex = #{sex}, age = #{age}, class_name = #{className}
        where no = #{no}
    </update>

<!--    boolean getStudentIfExist(String no);-->
    <select id="getStudentIfExist" resultType="boolean">
        select COUNT(*) = 0 from student
        where no = #{no}
    </select>

<!--    List<Student> getStudent(String no, String name);-->
    <select id="getStudent" resultType="Student">
        select * from student
        <where>
            <if test="no != null">
                no = #{no}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>
</mapper>
