<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hnist.javafx.kqms.bg.mapper.StudentMapper">

<!--    boolean getStudentIfExistByNo(String no);-->
    <select id="getStudentIfExistByNo" resultType="boolean">
        select COUNT(*) = 0 from student
        where no = #{1}
    </select>

<!--    void addStudent(Student student);-->
    <insert id="addStudent">
        insert into student values
        (#{no}, #{name}, #{sex}, #{age}, #{className})
    </insert>
</mapper>
